*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style-type: none;}
body{
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);

    &.active{
        overflow: hidden;
    }
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    position: absolute;
    width: 100%;
    background-color: rgb(32, 32, 32);
    z-index: 100;
    .header_wr{
        
        display: flex;
        padding: 0.5em;
        align-items: center;
        
        
        .logo{
            width: 60px;
            height: 60px;
            cursor: pointer;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #25161167;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}



.navigation{
    margin-left: 60px;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.nav_wr{
    display: flex;
    justify-content: space-between;
    flex: 1;
    .nav_item{
        padding: 0 5px;
        cursor: pointer;
        transition: 0.5s;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        &:hover{
            border-bottom: 1px solid rgb(255, 255, 255);
        }
    }   
}

.main{
    background-image: url('alin-andersen-f0SgAs27BYI-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 76px;
    min-height: 100vh;
    .main_caption{
        padding: 15px 0;
        text-align: center;
    }
}


.cards_wr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card{
        padding: 15px;
        margin: 10px;
        border-radius: 10px;
        
        max-width: 320px;
        background-color: rgb(63, 63, 63);
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        &__caption{
            margin: 10px 5px;
            font-size: 24px;
        }
        &__info{
            line-height: 22px;
        }
        &__btn{
            cursor: pointer;
            margin-top: auto;
            align-self: flex-end;
            
            background-color: #202020;
            
            padding: 0.5em;
            border-radius: 10px;
        }
        &:hover{
            transform: scale(1.02);
            box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
        }
    }
    .card__img_wr{
        max-height: 200px;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;

        }   
    }
}
.navigation_adapt{
    position: absolute;
    transform: translateY(-969px);
    top: 76px;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.712);
    transition: 0.5s;
    .nav_item_a{
        margin: 15px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        transition: 0.5s;
        &:hover{
            border-bottom: 1px solid rgb(255, 255, 255);
        }
    }
    &.active{
        transform: translateY(0px);
    }
}

.menu_btn{
    width: 30px;
    height: 20px;
    display: none;
    cursor: pointer;
    position: relative;
    .menu_line{
        
        width: 30px;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 10px;
        transition: 0.3s;
    }
    .menu_line::before,.menu_line::after{
        content: '';
        width: 30px;
        height: 1px;
        background-color: white;
        position: absolute;
        transition: 0.5s;
    }
    .menu_line::before{
        top: -10px;
    }
    .menu_line::after{
        bottom: -10px;
    }
    
}
.menu_btn.active .menu_line{
    background-color: rgba(255, 255, 255, 0);
    
}

.menu_btn.active .menu_line::before{
    transform: translate(0, 10px) rotate(45deg);
    
}
.menu_btn.active .menu_line::after{
    transform: translate(0, -10px) rotate(135deg);
}



@media (max-width:685px) {
    .navigation{
        display: none;
    }
    .header_wr{
        justify-content: space-between;
    }
    .menu_btn{
        display: block;
    }
}
