* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.918);
}
a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.2s;
}
a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.h1_index {
  font-size: 24px;
  padding: 30px;
  background-color: rgb(71, 71, 71);
  line-height: 10px;
  text-align: center;
  color: rgb(233, 232, 232);
}
.ex_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
hr {
  width: 100%;
}
.poem {
  max-width: 200px;
  margin: 15px 0;
}
.poem_caption {
  font-size: 24px;
  line-height: 30px;
  margin: 20px;
}
.poem_wr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poem_author {
  margin-top: 10px;
  font-size: 15px;
}

.poem_pic {
  height: 300px;
  width: 200px;
  margin: 15px 40px;
}
.poem_pic_wr {
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.table_wr{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
table {

  border-collapse: collapse;
  border: 1px solid white;
}

td {
  text-align: center;
  border: 1px solid white;
  padding: 5px;
}
.how_stand_up{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.how_stand_up__caption{
    
    margin-left: 10px;
}
.how_stand_up__list_item{
    
    max-width: 700px;
    margin: 10px 0;
}

.back{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.f_l{
    margin: 30px;
}
li ul{
    margin: 15px 0 10px 30px;
}

.form__caption{
    font-size: 30px;
    padding: 20px;
    background-color: black;
}

.form_inputs_wr{
    max-width: 300px;
    padding: 10px;
}
.label_in{
    margin-top: 10px;
    display: block;
}

.label_in p{
    margin-bottom: 5px;
}
.inp{
    padding: 5px;
}
.submit{
    padding: 5px 20px;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}